<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
        <httpRuntime relaxedUrlToFileSystemMapping="true" requestPathInvalidCharacters="" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
