<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="de">
	<head>
		<title>404 Page not found</title>
		<meta http-equiv="Content-Type"  content="text/html; charset=iso-8859-1" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="pragma"        content="no-cache" />

		<style type="text/css">
			<!--
				@import url('[MAIN_DIR]template/css_box_light_white.css');
				@import url('[MAIN_DIR]base.css');
			//-->
		</style>
	</head>
	<body style="padding:0px;margin:0px;">

			<table cellpadding="0" cellspacing="0" style="margin-top:150px;width:100%;table-layout:fixed;">
				<colgroup>
					<col style="" />
					<col style="min-width:2px;width:2px;max-width:2px;" />
					<col style="min-width:30px;width:30pxmax-width:30px;" />
					<col style="min-width:5px;width:5px;max-width:5px;" />
					<col style="min-width:20px;max-width:495px;" />
					<col style="min-width:11px;width:11px;max-width:11px;" />
					<col style="min-width:100px;width:100px;max-width:100px;" />
					<col style="min-width:2px;width:2px;max-width:2px;" />
					<col style="" />
				</colgroup>

				<tr>
					<td rowspan="5">&nbsp;</td>
					<td class="lwbh_1">&nbsp;</td>
					<td class="lwbh_2" colspan="3" style="padding-left:5px;">
						<h1>404 Not found</h1>
					</td>
					<td class="lwbh_3">&nbsp;</td>
					<td class="lwbh_4">&nbsp;</td>
					<td class="lwbh_5">&nbsp;</td>
					<td rowspan="5">&nbsp;</td>
				</tr>
				<tr>
					<td class="lwbc_1">&nbsp;</td>
					<td class="lwbc_2" colspan="5" style="text-align:justify;">
						<img src="[MAIN_DIR]images/404_not_found.gif" alt="404 not found" style="width:64px;height:64px;border-width:1px;float:left;clear:both;vertical-align:top;" />
						<h3 style="padding-left:74px;">The Requsted URL was not found.</h3>
						<p style="padding-left:84px;margin-bottom:2px;">your request: <strong>[REQUESTED_URL]</strong></p>
						<p style="padding-left:84px;margin-top:2px;">go back to: [BACK_LINK]</p>
						<p>Please use the Back-Link above to go to the previous page.<br />
						We are sorry for this failure...</p>
					<td class="lwbc_3">&nbsp;</td>
				</tr>
				<tr>
					<td class="lwbf_1">&nbsp;</td>
					<td class="lwbf_2">&nbsp;</td>
					<td class="lwbf_3">&nbsp;</td>
					<td class="lwbf_4" colspan="3">&nbsp;</td>
					<td class="lwbf_5">&nbsp;</td>
				</tr>
				<tr>
					<td class="lwbb_1">&nbsp;</td>
					<td class="lwbb_2" colspan="5">&nbsp;</td>
					<td class="lwbb_3">&nbsp;</td>
				</tr>
				<tr>
					<td style="height:15px;font-size:1px;line-height:1px;" colspan="5">&nbsp;</td>
				</tr>
			</table>

	</body>
</html>
