@CHARSET "UTF-8";
@media all and (min-width: 24em) {
	
	.header-container,
	.header-container .container {
		height: 100px;
	}
	.content-container {
		top: 100px;
	}
	.header-container .header-logo img {
		margin: 5px;
		height: 60px !important;
	}
	
	.content-menu {
		position: fixed;
		display: inline-block;
		top: 100px;
		bottom: 1.5em;
		overflow: visible;
	}
	.content-menu-inner {
		overflow-y: auto;
		display: inline-block;
	}
	
	.header-menu,
	.content-menu {
		display: block;
		line-height: 0.8em;
	}
	.responsive-menu,
	.responsive-menu-toggle {
		display: none;
	}
	
	ul.menu,
	ul.submenu {
		list-style-type: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	ul.submenu {
		display: inline-block;
		width: 95%;
		position: relative;
		margin-left: 5%;
		margin-bottom: 5px;
	}
	
	ul.menu li {
		margin: 0;
		padding: 0;
		float: left;
		display: inline-block;
		position: relative;
	}
	ul.menu li:hover ul.submenu {
		display: block;
	}
	
	.content-menu ul.menu li {
		float: none;
		display: list-item;
	}
	.content-menu-handle {
		display: block;
		position: absolute;
		top: 45%;
		bottom: 45%;
		right: -10px;
		width: 10px;
		line-height: 0;
		font-size: 1px;
		cursor: pointer;
	}
	
	a.menu-entry {
		display: inline-block;
	}
	.menu-entry-outer {
		margin: 0 3px;
		display: inline-block;
	}
	.header-menu .menu-entry-inner {
		padding: 4px 6px;
		display: inline-block;
	}
	.content-menu .menu-entry-inner {
		padding: 7px 0;
		display: inline-block;
	}
	.menu-info {
		display: none;
	}
	ul.submenu li {
		float: none;
	}
	
} 
