[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-spreadsheet-template
Type=MimeType
Patterns=*.ots
MimeType=application/vnd.oasis.opendocument.spreadsheet-template
Comment=OpenDocument Spreadsheet Template
Comment[en]=OpenDocument Spreadsheet Template
Comment[de]=OpenDocument Tabellendoukumentvorlage
Comment[ca]=Plantilla de full de càlcul de l'OpenDocument
Comment[cs]=Šablona sešitu OpenDocument
Comment[da]=OpenDocument-regnearkskabelon
Comment[es]=Plantilla de hoja de cálculo de OpenDocument
Comment[et]=OpenDocument arvutustabeli mall
Comment[fi]=OpenDocument -laskentataulukon malli
Comment[fr]=Modèle de classeur OpenDocument
Comment[he]=תבנית גליון עבודה OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज स्प्रेडशीट टेंपलेट
Comment[hu]=OpenDocument-munkafüzetsablon
Comment[it]=OpenDocument - Modello di foglio elettronico
Comment[ja]=OpenDocument 表計算テンプレート
Comment[ko]=OpenDocument 스프레드시트 서식 파일
Comment[nl]=OpenDocument-werkbladsjabloon
Comment[pl]=OpenDocument Szablon arkusza kalkulacyjnego
Comment[pt]=Modelo de folha de cálculo do OpenDocument
Comment[pt_BR]=Modelo de planilha do OpenDocument
Comment[ru]=Шаблон электронной таблицы OpenDocument
Comment[sk]=OpenDocument Šablóna zošitu
Comment[sl]=Predloga preglednice OpenDocument
Comment[sv]=OpenDocument tabelldokumentmall
Comment[th]=แม่แบบตารางคำนวณ OpenOffice.org
Comment[tr]=OpenDocument Hesap Tablosu Şablonu
Comment[zh_CN]=Open Office 电子表格模板
Comment[zh_TW]=Open Office 工作表文件範本
Comment[af]=OpenDocument-sigbladsjabloon
Comment[as_IN]=ডকুমেন্ট স্প্ৰেডশ্বীট্ নমুনা খোলক
Comment[be_BY]=Шаблон разліковага аркушу OpenDocument
Comment[bg]=OpenDocument - шаблон за електронна таблица
Comment[br]=Patrom renkell OpenDocument
Comment[bs]=OpenDocument šablon tabličnog proračuna
Comment[cy]=Templed Taenlen OpenDocument
Comment[el]=Πρότυπο λογιστικού φύλλου OpenDocument
Comment[en_GB]=OpenDocument Spreadsheet Template
Comment[en_ZA]=OpenDocument Spreadsheet Template
Comment[eo]=OpenDocument Spreadsheet Template
Comment[fa]=قالب صفحه‌گستردهٔ نوشتارباز
Comment[ga]=Teimpléad Scarbhileoige OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ સ્પ્રેડશીટ ટેમ્પલેટ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ સ્પ્રેડશીટ ટેમ્પલેટ
Comment[hr]=Predložak OpenDocument proračunske tablice 
Comment[ka]=OpenDocument ცხრილის შაბლონი
Comment[km]=ពុម្ព​សៀវភៅ​បញ្ជី OpenDocument
Comment[ku]=Şablona Taboya Hesêb A OpenDocument
Comment[lt]=„OpenDocument“ skaičiuoklės šablonas
Comment[mk]=OpenDocument-образец за табеларна пресметка
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് സ്പ്രെഡ്ഷീറ്റ് മാതൃക 
Comment[mr_IN]=स्प्रेडशीट् प्रारूप दस्तावेज उघडा
Comment[nb]=OpenDocument-regnearkmal
Comment[ne]=खुल्लाकागजात स्प्रेडसिट टेम्प्लेट
Comment[nn]=OpenDocument-reknearkmal
Comment[nr]=OpenDocument iThempleyiti leSpredtjhiti
Comment[ns]=Thempoleiti ya Letlakala la go ala tsebišo ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ସ୍ପ୍ରେଡ୍ସିଟ୍ ନମୁନା 
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਸਾਰਣੀਕਾਰ ਨਮੂਨਾ
Comment[rw]=Inyandiko-rugero y'urupapurotuzu rwa OpenDocument
Comment[sh_YU]=OpenDocument šablon tabele
Comment[sr_CS]=OpenDocument шаблон табеле
Comment[ss]=OpenDocument Liphephacansi Ithemplethi
Comment[st]=Thempoleiti ya Leqephe la ho ala boitsebiso ya OpenDocument
Comment[sw_TZ]=OpenDocument Spreadsheet Template
Comment[ta]=திறந்த ஆவண விரிதாள் மாதிரிஉரு
Comment[ta_IN]=திறந்த ஆவண விரிதாள் மாதிரிஉரு
Comment[te_IN]=పత్రము యొక్క స్ర్పెడ్ షీట్ తెరుచిన మాదిరి
Comment[tg]=Қолаби ҷадвали электронии OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ Spreadsheet Template
Comment[ts]=OpenDocument ya Xikomba-ndlela xa Xipredxiti
Comment[uk]=Шаблон таблиці OpenDocument
Comment[ur_IN]=دستاویزی اسپریڈشیٹ ٹیمپلیٹ کھولو
Comment[ve]=Thempuḽethe ya Sipuredeshithi ḽa OpenDocument
Comment[vi]=Mẫu bảng tính OpenDocument
Comment[xh]=Isakhelo Secwecwe Leeseli se-OpenDocument
Comment[zu]=Ithempleythi Yespredshithi Se-OpenDocument
