[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-presentation-template
Type=MimeType
Patterns=*.otp
MimeType=application/vnd.oasis.opendocument.presentation-template
Comment=OpenDocument Presentation Template
Comment[en]=OpenDocument Presentation Template
Comment[de]=OpenDocument Präsentationsdokumentvorlage
Comment[ca]=Plantilla de presentació de l'OpenDocument
Comment[cs]=Šablona prezentace OpenDocument
Comment[da]=OpenDocument-præsentationsskabelon
Comment[es]=Plantilla de presentación de OpenDocument
Comment[et]=OpenDocument esitluse mall
Comment[fi]=OpenDocument -esitysmalli
Comment[fr]=Modèle de présentation OpenDocument
Comment[he]=תבנית מצגת OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज प्रस्तुति टेंपलेट
Comment[hu]=OpenDocument-bemutatósablon
Comment[it]=OpenDocument - Modello di presentazione
Comment[ja]=OpenDocument プレゼンテーションテンプレート
Comment[ko]=OpenDocument 프레젠테이션 서식 파일
Comment[nl]=OpenDocument-presentatiesjabloon
Comment[pl]=OpenDocument Szablon prezentacji
Comment[pt]=Modelo de apresentação do OpenDocument
Comment[pt_BR]=Modelo de apresentação do OpenDocument
Comment[ru]=Шаблон презентации OpenDocument
Comment[sk]=OpenDocument Šablóna prezentácie
Comment[sl]=Predloga predstavitve OpenDocument
Comment[sv]=OpenDocument presentationsmall
Comment[th]=แม่แบบงานนำเสนอ OpenOffice.org
Comment[tr]=OpenDocument Sunu Şablonu
Comment[zh_CN]=OpenDocument 演示文稿模板
Comment[zh_TW]=Open Office 簡報範本
Comment[af]=OpenDocument-voorleggingsjabloon
Comment[as_IN]=ডকুমেন্ট উপস্থাপন নমুনা খোলক
Comment[be_BY]=Шаблон прэзентацыі OpenDocument
Comment[bg]=OpenDocument - шаблон за презентация
Comment[br]=Patrom kinnigadenn OpenOffice
Comment[bs]=OpenDocument šablon prezentacije
Comment[cy]=Templed Cyflwyno OpenDocument
Comment[el]=Πρότυπο παρουσίασης OpenDocument
Comment[en_GB]=OpenDocument Presentation Template
Comment[en_ZA]=OpenDocument Presentation Template
Comment[eo]=OpenDocument Presentation Template
Comment[fa]=قالب ارائهٔ نوشتارباز
Comment[ga]=Teimpléad Láithreoireachta OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ રજૂઆત ટેમ્પલેટ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ રજૂઆત ટેમ્પલેટ
Comment[hr]=Predložak OpenDocument prezentacije
Comment[ka]=OpenDocument პრეზენტაციის შაბლონი
Comment[km]=ពុម្ព​ការ​បង្ហាញ​ OpenDocument
Comment[ku]=Şablona Pêşkêşiyê a OpenDocument
Comment[lt]=„OpenDocument“ pateikties šablonas
Comment[mk]=OpenDocument-образец за презентација
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് അവതരണ മാതൃക
Comment[mr_IN]=दस्तावेज प्रस्तुती प्रारूप उघडा
Comment[nb]=OpenDocument-presentasjonsmal
Comment[ne]=खुल्लाकागजात प्रस्तुतीकरण टेम्प्लेट
Comment[nn]=OpenDocument-presentasjonsmal
Comment[nr]=OpenDocument iThempleyiti lePhrizentheyitjhini
Comment[ns]=Thempoleiti ya Tlhagišo ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ଉପସ୍ଥାପନା ନମୁନା  
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਪੇਸ਼ਕਾਰੀ ਨਮੂਨਾ
Comment[rw]=Inyandiko-rugero y'iyerekana rya OpenDocument
Comment[sh_YU]=OpenDocument šablon prezentacije
Comment[sr_CS]=OpenDocument шаблон презентације
Comment[ss]=OpenDocument Kwetfula ithemplethi
Comment[st]=Thempoleiti ya Nehelano ya OpenDocument
Comment[sw_TZ]=OpenDocument Presentation Template
Comment[ta]=திறந்த ஆவண காட்சி மாதிரிஉரு
Comment[ta_IN]=திறந்த ஆவண காட்சி மாதிரிஉரு
Comment[te_IN]=పత్ర సమర్పణను తెరుచిన మాదిరి
Comment[tg]=Қолаби баёнияи OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ Presentation Template
Comment[ts]=OpenDocument ya Xikomba-ndlela xa Nkombiso
Comment[uk]=Шаблон презентацій OpenDocument
Comment[ur_IN]=دستاویزی پیشکش ٹیمپلیٹ متن کھولو
Comment[ve]=Thempuḽethe ya Nzudzanyo ya OpenDocument
Comment[vi]=Mẫu trình diễn OpenDocument
Comment[xh]=Isakhelo Senkcazelo-mboniso se-OpenDocument
Comment[zu]=Ithempleythi Yomboniso We-OpenDocument
