[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-formula
Type=MimeType
Patterns=*.odf
MimeType=application/vnd.oasis.opendocument.formula
Comment=OpenDocument Formula
Comment[en]=OpenDocument Formula
Comment[de]=OpenDocument Formel
Comment[ca]=Fórmula de l'OpenDocument
Comment[cs]=Vzorec OpenDocument
Comment[da]=OpenDocument-formel
Comment[es]=Fórmula de OpenDocument
Comment[et]=OpenDocument valem
Comment[fi]=OpenDocument -kaava
Comment[fr]=Formule OpenDocument
Comment[he]=נוסחה OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज सूत्र
Comment[hu]=OpenDocument-képlet
Comment[it]=OpenDocument - Formula
Comment[ja]=OpenDocument 数式
Comment[ko]=OpenDocument 수식
Comment[nl]=OpenDocument-formule
Comment[pl]=OpenDocument Formuła
Comment[pt]=Fórmula do OpenDocument
Comment[pt_BR]=Fórmula do OpenDocument
Comment[ru]=Формула OpenDocument
Comment[sk]=OpenDocument Vzorec
Comment[sl]=Formula OpenDocument
Comment[sv]=OpenDocument formel
Comment[th]=สูตรคณิตศาสตร์ OpenDocument
Comment[tr]=OpenDocument Formül
Comment[zh_CN]=OpenDocument 公式
Comment[zh_TW]=Open Office 公式
Comment[af]=OpenDocument-formule
Comment[as_IN]=ডকুমেন্ট সূত্ৰ খোলক
Comment[be_BY]=Формула OpenDocument
Comment[bg]=OpenDocument - формула
Comment[br]=Formulenn OpenOffice
Comment[bs]=OpenDocument formula
Comment[cy]=Fformiwla OpenDocument
Comment[el]=Τύπος OpenDocument
Comment[en_GB]=OpenDocument Formula
Comment[en_ZA]=OpenDocument Formula
Comment[eo]=OpenDocument Formula
Comment[fa]=فرمول نوشتارباز
Comment[ga]=Foirmle OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ સુત્ર
Comment[gu_IN]=ઓપનડોકયુમેન્ટ સુત્ર
Comment[hr]=OpenDocument formula
Comment[ka]=OpenDocument ფორმულა
Comment[km]=រូបមន្ត OpenDocument
Comment[ku]=Formula OpenDocument
Comment[lt]=„OpenDocument“ matematinis dokumentas
Comment[mk]=OpenDocument-формула
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് സൂത്രവാക്യം
Comment[mr_IN]=दस्तावेज सूत्र उघडा
Comment[nb]=OpenDocument-formel
Comment[ne]=खुल्लाकागजात सूत्र
Comment[nn]=OpenDocument-formel
Comment[nr]=OpenDocument iFomula
Comment[ns]=Fomula ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ସୂତ୍ର 
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਫਾਰਮੂਲਾ
Comment[rw]=Inzira ya OpenDocument
Comment[sh_YU]=OpenDocument formula
Comment[sr_CS]=OpenDocument формула
Comment[ss]=OpenDocument Ifomula
Comment[st]=Fomula ya OpenDocument
Comment[sw_TZ]=OpenDocument Formula
Comment[ta]=திறந்த ஆவண சூத்திரம்
Comment[ta_IN]=திறந்த ஆவண சூத்திரம்
Comment[te_IN]=పత్రము యొక్క  సూత్రమును తెరుచుము
Comment[tg]=Формулаи OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ Formula
Comment[ts]=OpenDocument ya Fomula
Comment[uk]=Формула OpenDocument
Comment[ur_IN]=دستاویزضابطہ کھولو
Comment[ve]=Fomuḽa ya OpenDocument
Comment[vi]=Công thức OpenDocument
Comment[xh]=Indlela Yokusebenza ye-OpenDocument
Comment[zu]=Ifomula Le-OpenDocument
