[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-drawing
Type=MimeType
Patterns=*.sxd
MimeType=application/vnd.sun.xml.draw
Comment=OpenOffice.org Drawing
Comment[en]=OpenOffice.org Drawing
Comment[de]=OpenOffice.org Zeichnung
Comment[ca]=Dibuix de l'OpenOffice.org
Comment[cs]=Kresba OpenOffice.org
Comment[da]=OpenOffice.org-tegning
Comment[es]=Dibujo de OpenOffice.org
Comment[et]=OpenOffice.org-i joonistus
Comment[fi]=OpenOffice.org - Piirros
Comment[fr]=Dessin OpenOffice.org
Comment[he]=ציור OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org Drawing
Comment[hu]=OpenOffice.org-rajz
Comment[it]=Disegno di OpenOffice.org
Comment[ja]=OpenOffice.org 図形描画
Comment[ko]=OpenOffice.org 그리기
Comment[nl]=OpenOffice.org-tekening
Comment[pl]=OpenOffice.org Rysunek
Comment[pt]=Desenho do OpenOffice.org
Comment[pt_BR]=Desenho do OpenOffice.org
Comment[ru]=Рисунок OpenOffice.org
Comment[sk]=Kresba OpenOffice.org
Comment[sl]=Risba programa OpenOffice.org
Comment[sv]=OpenOffice.org teckning
Comment[th]=การวาด OpenOffice.org
Comment[tr]=OpenOffice.org Çizim
Comment[zh_CN]=OpenOffice.org 绘图
Comment[zh_TW]=OpenOffice.org 繪圖！
Comment[af]=OpenOffice.org-tekening
Comment[as_IN]=OpenOffice.org ড্ৰয়িং
Comment[be_BY]=Рысунак OpenOffice.org
Comment[bg]=Рисунка на OpenOffice.org
Comment[br]=Tresadenn OpenOffice.org
Comment[bs]=OpenOffice.org crtež
Comment[cy]=Lluniadu OpenOffice.org
Comment[el]=Σχεδίαση OpenOffice.org
Comment[en_GB]=OpenOffice.org Drawing
Comment[en_ZA]=OpenOffice.org Drawing
Comment[eo]=OpenOffice.org Drawing
Comment[fa]=نقاشی OpenOffice.org
Comment[ga]=Líníocht OpenOffice.org
Comment[gu]=OpenOffice.org ચિત્ર
Comment[gu_IN]=OpenOffice.org ચિત્ર
Comment[hr]=OpenOffice.org Crtež
Comment[ka]=OpenOffice.org ნახაზი
Comment[km]=គំនូរ OpenOffice.org
Comment[ku]=Xêzkirina OpenOffice.org
Comment[lt]=„OpenOffice.org“ grafikos dokumentas
Comment[mk]=OpenOffice.org-цртеж
Comment[ml_IN]=OpenOffice.org Drawing
Comment[mr_IN]=OpenOffice.org चित्रकला
Comment[nb]=OpenOffice.org-tegning
Comment[ne]=OpenOffice.org रेखाचित्र
Comment[nn]=OpenOffice.org-teikning
Comment[nr]=Umgwalo we-OpenOffice.org
Comment[ns]=Go thala ga OpenOffice.org
Comment[or_IN]=OpenOffice.org ଚିତ୍ରଙ୍କନ
Comment[pa_IN]=OpenOffice.org ਚਿੱਤਰਕਾਰੀ
Comment[rw]=Igishushanyo cya OpenOffice.org
Comment[sh_YU]=OpenOffice.org crtež
Comment[sr_CS]=OpenOffice.org цртеж
Comment[ss]=OpenOffice.org Kudvweba
Comment[st]=Ho Torowa ha OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Mchoro
Comment[ta]=OpenOffice.org வரைதல்
Comment[ta_IN]=OpenOffice.org வரைதல்
Comment[te_IN]=చిత్రలేఖనము యొక్క OpenOffice.org
Comment[tg]=OpenOffice.org Drawing
Comment[ti_ER]=OpenOffice.org ስእሊ
Comment[ts]=OpenOffice.org Vudirowi
Comment[uk]=Графічний документ OpenOffice.org
Comment[ur_IN]=OpenOffice.org ڈرائنگ
Comment[ve]=Nyolo ya OpenOffice.org
Comment[vi]=Bản vẽ OpenOffice.org
Comment[xh]=Umzobo we-OpenOffice.org
Comment[zu]=Ukudweba Nge-OpenOffice.org
