[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-text-template
Type=MimeType
Patterns=*.ott
MimeType=application/vnd.oasis.opendocument.text-template
Comment=OpenDocument Text Template
Comment[en]=OpenDocument Text Template
Comment[de]=OpenDocument Textdokumentvorlage
Comment[ca]=Plantilla de text de l'OpenDocument
Comment[cs]=Šablona textového dokumentu OpenDocument
Comment[da]=OpenDocument-tekstskabelon
Comment[es]=Plantilla de texto de OpenDocument
Comment[et]=OpenDocument tekstimall
Comment[fi]=OpenDocument -tekstimalli
Comment[fr]=Modèle de texte OpenDocument
Comment[he]=תבנית טקסט OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज पाठ टेंपलेट
Comment[hu]=OpenDocument-szövegsablon
Comment[it]=OpenDocument - Modello di testo
Comment[ja]=OpenDocument テキストテンプレート
Comment[ko]=OpenDocument 텍스트 서식 파일
Comment[nl]=OpenDocument Tekst Sjabloon
Comment[pl]=OpenDocument Szablon dokumentu tekstowego
Comment[pt]=Modelo de texto do OpenDocument
Comment[pt_BR]=Modelo de texto do OpenDocument
Comment[ru]=Шаблон текстового документа OpenDocument
Comment[sk]=OpenDocument Šablóna textu
Comment[sl]=Predloga dokumenta z besedilom OpenDocument
Comment[sv]=OpenDocument-textmall
Comment[th]=แม่แบบเอกสารข้อความ OpenOffice.org
Comment[tr]=OpenDocument Metin Şablonu
Comment[zh_CN]=OpenDocument 文本模板
Comment[zh_TW]=Open Office 文字範本
Comment[af]=OpenDocument-tekssjabloon
Comment[as_IN]=ডকুমেন্ট টেক্সট নমুনা খোলক
Comment[be_BY]=Шаблон тэксту OpenDocument
Comment[bg]=OpenDocument - шаблон за текст
Comment[br]=Patrom testenn OpenOffice
Comment[bs]=OpenDocument šablon teksta
Comment[cy]=Templed Testun OpenDocument
Comment[el]=Πρότυπο κειμένου OpenDocument
Comment[en_GB]=OpenDocument Text Template
Comment[en_ZA]=OpenDocument Text Template
Comment[eo]=OpenDocument Text Template
Comment[fa]=قالب متن نوشتارباز
Comment[ga]=Teimpléad Téacs OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ લખાણ ટેમ્પલેટ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ લખાણ ટેમ્પલેટ
Comment[hr]=Predložak OpenDocument teksta
Comment[ka]=OpenOffice.org ტექსტური შაბლონი
Comment[km]=ពុម្ព​អត្ថបទ OpenDocument
Comment[ku]=Şablona Nivîsan a OpenDocument
Comment[lt]=„OpenDocument“ teksto šablonas
Comment[mk]=OpenDocument-образец на текст
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് ടെക്സ്റ്റ് മാതൃക
Comment[mr_IN]=प्रारूप मजकूर दस्तावेज उघडा
Comment[nb]=OpenDocument-tekstmal
Comment[ne]=खुल्लाकागजात पाठ टेम्प्लेट
Comment[nn]=OpenDocument-tekstmal
Comment[nr]=OpenDocument iThempleyiti leTheksti
Comment[ns]=Thempoleiti ya Sengwalwa ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ଟେକ୍ସଟ  ନମୁନା  
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਪਾਠ ਨਮੂਨਾ
Comment[rw]=Inyandiko-rugero mwandiko wa OpenDocument
Comment[sh_YU]=OpenDocument šablon teksta
Comment[sr_CS]=OpenDocument шаблон текста
Comment[ss]=OpenDocument Umbhalo wethemplethi
Comment[st]=Thempoleiti ya Mongolo ya OpenDocument
Comment[sw_TZ]=OpenDocument Text Template
Comment[ta]=திறந்த ஆவண உரை மாதிரி உரு
Comment[ta_IN]=திறந்த ஆவண உரை மாதிரி உரு
Comment[te_IN]=పత్ర పాఠమును తెరుచిన మాదిరి
Comment[tg]=Қолаби матнии OpenDocument
Comment[ti_ER]=ናይ ክፉት-ሰነድ ጽሑፍ Template
Comment[ts]=OpenDocument ya Xikomba-ndlela xa Marito
Comment[uk]=Текстовий шаблон OpenDocument
Comment[ur_IN]=دستاویزی متن ٹیمپلیٹ کھولو
Comment[ve]=Thempuḽethe ya Ḽiṅwalwa ḽa OpenDocument
Comment[vi]=Mẫu văn bản OpenDocument
Comment[xh]=Isakhelo Sesiqendu se-OpenDocument
Comment[zu]=Ithempleythi Yombhalo We-OpenDocument
