[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-spreadsheet
Type=MimeType
Patterns=*.ods
MimeType=application/vnd.oasis.opendocument.spreadsheet
Comment=OpenDocument Spreadsheet
Comment[en]=OpenDocument Spreadsheet
Comment[de]=OpenDocument Tabellendokument
Comment[ca]=Full de càlcul de l'OpenDocument
Comment[cs]=Sešit OpenDocument
Comment[da]=OpenDocument-regneark
Comment[es]=Hoja de cálculo de OpenDocument
Comment[et]=OpenDocument arvutustabel
Comment[fi]=OpenDocument -laskentataulukko
Comment[fr]=Classeur OpenDocument
Comment[he]=גליון עבודה OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज स्प्रेडशीट
Comment[hu]=OpenDocument-munkafüzet
Comment[it]=OpenDocument - Foglio elettronico
Comment[ja]=OpenDocument 表計算
Comment[ko]=OpenDocument 스프레드시트
Comment[nl]=OpenDocument-werkblad
Comment[pl]=OpenDocument Arkusz kalkulacyjny
Comment[pt]=Folha de cálculo do OpenDocument
Comment[pt_BR]=Planilha do OpenDocument
Comment[ru]=Электронная таблица OpenDocument
Comment[sk]=OpenDocument Zošit
Comment[sl]=Preglednica OpenDocument
Comment[sv]=OpenDocument tabelldokument
Comment[th]=ตารางคำนวณ OpenDocument
Comment[tr]=OpenDocument Hesap Tablosu
Comment[zh_CN]=OpenDocument 电子表格
Comment[zh_TW]=Open Office 工作表文件
Comment[af]=OpenDocument-sigblad
Comment[as_IN]=ডকুমেন্ট স্প্ৰেডশ্বীট খোলক
Comment[be_BY]=Разліковы аркуш OpenDocument
Comment[bg]=OpenDocument - електронна таблица
Comment[br]=Renkell OpenDocument
Comment[bs]=OpenDocument tablični proračun
Comment[cy]=Taenlen OpenDocument
Comment[el]=Λογιστικό φύλλο OpenDocument
Comment[en_GB]=OpenDocument Spreadsheet
Comment[en_ZA]=OpenDocument Spreadsheet
Comment[eo]=OpenDocument Spreadsheet
Comment[fa]=صفحه‌گستردهٔ نوشتارباز
Comment[ga]=Scarbhileog OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ સ્પ્રેડશીટ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ સ્પ્રેડશીટ
Comment[hr]=OpenDocument proračunska tablica
Comment[ka]=OpenDocument ცხრილი
Comment[km]=សៀវភៅ​បញ្ជី OpenDocument
Comment[ku]=Tabloya Hesêb a OpenDocument
Comment[lt]=„OpenDocument“ skaičiuoklės dokumentas
Comment[mk]=OpenDocument-табеларна пресметка
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് സ്പ്രെഡ് ഷീറ്റ് 
Comment[mr_IN]=स्प्रेडशीट् दस्तावेज उघडा
Comment[nb]=OpenDocument-regneark
Comment[ne]=खुल्लाकागजात स्प्रेडसिट
Comment[nn]=OpenDocument-rekneark
Comment[nr]=OpenDocument iThempleyiti leSpredtjhiti
Comment[ns]=Letlakala la go ala tsebišo la OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ସ୍ପ୍ରେଡ୍ସିଟ୍ 
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਸਾਰਣੀਕਾਰ
Comment[rw]=Urupapurorusesuye rwa OpenDocument
Comment[sh_YU]=OpenDocument tabela
Comment[sr_CS]=OpenDocument табела
Comment[ss]=OpenDocument Liphephacansi
Comment[st]=Leqephe la ho ala boitsebiso la OpenDocument
Comment[sw_TZ]=OpenDocument Spreadsheet
Comment[ta]=திறந்த ஆவண விரிதாள்
Comment[ta_IN]=திறந்த ஆவண விரிதாள்
Comment[te_IN]=పత్రము యొక్క స్ర్పెడ్ షీట్ తెరుచు
Comment[tg]=Ҷадвали электронии OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ Spreadsheet
Comment[ts]=OpenDocument ya Xipredxiti
Comment[uk]=Таблиця OpenDocument
Comment[ur_IN]=دستاویزی اسپریڈشیٹ کھولو
Comment[ve]=Sipuredeshithi tsha OpenDocument
Comment[vi]=Bảng tính OpenDocument
Comment[xh]=Icwecwe Leeseli le-OpenDocument
Comment[zu]=Ispredshithi Se-OpenDocument
