[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-formula
Type=MimeType
Patterns=*.sxm
MimeType=application/vnd.sun.xml.math
Comment=OpenOffice.org Formula
Comment[en]=OpenOffice.org Formula
Comment[de]=OpenOffice.org Formel
Comment[ca]=Fòrmula de l'OpenOffice.org
Comment[cs]=Vzorec OpenOffice.org
Comment[da]=OpenOffice.org-formel
Comment[es]=Fórmula de OpenOffice.org
Comment[et]=OpenOffice.org-i valem
Comment[fi]=OpenOffice.org - Kaava
Comment[fr]=Formule OpenOffice.org
Comment[he]=נוסחה OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org Formula
Comment[hu]=OpenOffice.org-képlet
Comment[it]=OpenOffice.org - Formula
Comment[ja]=OpenOffice.org 数式
Comment[ko]=OpenOffice.org 수식
Comment[nl]=OpenOffice.org-formule
Comment[pl]=OpenOffice.org Formuła
Comment[pt]=Fórmula do OpenOffice.org
Comment[pt_BR]=Fórmula do OpenOffice.org
Comment[ru]=Формула OpenOffice.org
Comment[sk]=OpenOffice.org vzorec
Comment[sl]=Formula programa OpenOffice.org
Comment[sv]=OpenOffice.org formel
Comment[th]=สูตรคำนวณ OpenOffice.org
Comment[tr]=OpenOffice.org Formül
Comment[zh_CN]=OpenOffice.org 公式
Comment[zh_TW]=OpenOffice.org 公式
Comment[af]=OpenOffice.org-formule
Comment[as_IN]=OpenOffice.org সূত্ৰ
Comment[be_BY]=Формула OpenOffice.org
Comment[bg]=Формула (OpenOffice.org)
Comment[br]=Formulenn OpenOffice.org
Comment[bs]=OpenOffice.org formula
Comment[cy]=Fformiwla OpenOffice.org
Comment[el]=Φόρμουλα OpenOffice.org
Comment[en_GB]=OpenOffice.org Formula
Comment[en_ZA]=OpenOffice.org Formula
Comment[eo]=Formulo de OpenOffice.org
Comment[fa]=فرمول OpenOffice.org
Comment[ga]=Foirmle OpenOffice.org
Comment[gu]=OpenOffice.org ફોર્મ્યુલા
Comment[gu_IN]=OpenOffice.org ફોર્મ્યુલા
Comment[hr]=OpenOffice.org Formula
Comment[ka]=OpenOffice.org ფორმულა
Comment[km]=រូបមន្ត OpenOffice.org
Comment[ku]=Formula OpenOffice.org
Comment[lt]=„OpenOffice.org“ matematinis dokumentas
Comment[mk]=OpenOffice.org-формула
Comment[ml_IN]=OpenOffice.org Formula
Comment[mr_IN]=OpenOffice.org सूत्र
Comment[nb]=OpenOffice.org-formel
Comment[ne]=OpenOffice.org सूत्र
Comment[nn]=OpenOffice.org-formel
Comment[nr]=Fomula ye-OpenOffice.org
Comment[ns]=Fomula ya OpenOffice.org
Comment[or_IN]=OpenOffice.org ସୂତ୍ର
Comment[pa_IN]=OpenOffice.org ਫਾਰਮੂਲਾ
Comment[rw]=Inzira ya OpenOffice.org
Comment[sh_YU]=OpenOffice.org formula
Comment[sr_CS]=OpenOffice.org формула
Comment[ss]=OpenOffice.org Ifomula
Comment[st]=Fomula ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Fomula
Comment[ta]=OpenOffice.org விதி
Comment[ta_IN]=OpenOffice.org விதி
Comment[te_IN]=OpenOffice.org సూత్రము
Comment[tg]=Формулаи OpenOffice.org
Comment[ti_ER]=OpenOffice.org ፎርምላ
Comment[ts]=OpenOffice.org Fomula
Comment[uk]=Формула OpenOffice.org 
Comment[ur_IN]=OpenOffice.org ضابطہ
Comment[ve]=Fomuḽa ya OpenOffice.org
Comment[vi]=Công thức OpenOffice.org
Comment[xh]=Indlela yokusebenza ye-OpenOffice.org
Comment[zu]=Indlela yokwenza ye-OpenOffice.org
Comment[tn]=OpenOffice.org Motswako
