[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-drawing
Type=MimeType
Patterns=*.odg
MimeType=application/vnd.oasis.opendocument.graphics
Comment=OpenDocument Drawing
Comment[en]=OpenDocument Drawing
Comment[de]=OpenDocument Zeichnung
Comment[ca]=Dibuix de l'OpenDocument
Comment[cs]=Kresba OpenDocument
Comment[da]=OpenDocument-tegning
Comment[es]=Dibujo de OpenDocument
Comment[et]=OpenDocument joonistus
Comment[fi]=OpenDocument -piirros
Comment[fr]=Dessin OpenDocument
Comment[he]=ציור OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज रेखाचित्र
Comment[hu]=OpenDocument-rajz
Comment[it]=OpenDocument - Disegno
Comment[ja]=OpenDocument 図形描画
Comment[ko]=OpenDocument 그리기
Comment[nl]=OpenDocument-tekening
Comment[pl]=OpenDocument Rysunek
Comment[pt]=Desenho do OpenDocument
Comment[pt_BR]=Desenho do OpenDocument
Comment[ru]=Рисунок OpenDocument
Comment[sk]=OpenDocument Kresba
Comment[sl]=Risba OpenDocument
Comment[sv]=OpenDocument teckning
Comment[th]=การวาด OpenDocument
Comment[tr]=OpenDocument Çizim
Comment[zh_CN]=OpenDocument 绘图
Comment[zh_TW]=Open Office 繪圖
Comment[af]=OpenDocument-tekening
Comment[as_IN]=ডকুমেন্ট ড্ৰয়িং খোলক
Comment[be_BY]=Рысунак OpenDocument
Comment[bg]=OpenDocument - рисунка
Comment[br]=Tresadenn OpenDocument
Comment[bs]=OpenDocument crtež
Comment[cy]=Lluniadu OpenDocument
Comment[el]=Σχέδιο OpenDocument
Comment[en_GB]=OpenDocument Drawing
Comment[en_ZA]=OpenDocument Drawing
Comment[eo]=OpenDocument Drawing
Comment[fa]=نقاشی نوشتارباز
Comment[ga]=Líníocht OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ ચિત્ર
Comment[gu_IN]=ઓપનડોકયુમેન્ટ ચિત્ર
Comment[hr]=OpenDocument crtež
Comment[ka]=OpenDocument ნახატი
Comment[km]=គំនូរ OpenDocument
Comment[ku]=Xêzkirina OpenDocument
Comment[lt]=„OpenDocument“ grafikos dokumentas
Comment[mk]=OpenDocument-цртеж
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് ചിത്രരചന
Comment[mr_IN]=रेषाचित्र दस्तावेज उघडा
Comment[nb]=OpenDocument-tegning
Comment[ne]=खुल्लाकागजात रेखाचित्र
Comment[nn]=OpenDocument-teikning
Comment[nr]=OpenDocument umGwalo
Comment[ns]=Go thala ga OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ଚିତ୍ରାଙ୍କନ
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਚਿੱਤਰਕਾਰੀ
Comment[rw]=Igishushanyo cya OpenDocument
Comment[sh_YU]=OpenDocument crtež
Comment[sr_CS]=OpenDocument цртеж
Comment[ss]=OpenDocument Kudvweba
Comment[st]=Ho Torowa ha OpenDocument
Comment[sw_TZ]=OpenDocument Drawing
Comment[ta]=திறந்த ஆவண வரைதல்
Comment[ta_IN]=திறந்த ஆவண வரைதல்
Comment[te_IN]=చిత్రలేఖనము యొక్క  పత్రమును తెరుచు
Comment[tg]=Тасвири OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ ስእሊ
Comment[ts]=OpenDocument ya Vudirowi
Comment[uk]=Графічний документ OpenDocument
Comment[ur_IN]=دستاویزڈرائنگ کھولو
Comment[ve]=Nyolo ya OpenDocument
Comment[vi]=Bản vẽ OpenDocument
Comment[xh]=Umzobo we-OpenDocument
Comment[zu]=Umdwebo We-OpenDocument
