[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-presentation
Type=MimeType
Patterns=*.odp
MimeType=application/vnd.oasis.opendocument.presentation
Comment=OpenDocument Presentation
Comment[en]=OpenDocument Presentation
Comment[de]=OpenDocument Präsentation
Comment[ca]=Presentació de l'OpenDocument
Comment[cs]=Prezentace OpenDocument
Comment[da]=OpenDocument-præsentation
Comment[es]=Presentación de OpenDocument
Comment[et]=OpenDocument esitlus
Comment[fi]=OpenDocument -esitys
Comment[fr]=Présentation OpenDocument
Comment[he]=מצגת OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज प्रस्तुति
Comment[hu]=OpenDocument-bemutató
Comment[it]=OpenDocument - Presentazione
Comment[ja]=OpenDocument プレゼンテーション
Comment[ko]=OpenDocument 프레젠테이션
Comment[nl]=OpenDocument-presentatie
Comment[pl]=OpenDocument Prezentacja
Comment[pt]=Apresentação do OpenDocument
Comment[pt_BR]=Apresentação do OpenDocument
Comment[ru]=Презентация OpenDocument
Comment[sk]=OpenDocument Prezentácia
Comment[sl]=Predstavitev OpenDocument
Comment[sv]=OpenDocument presentation
Comment[th]=งานนำเสนอ OpenDocument
Comment[tr]=OpenDocument Sunu
Comment[zh_CN]=OpenDocument 演示文稿
Comment[zh_TW]=Open Office 簡報
Comment[af]=OpenDocument-voorlegging
Comment[as_IN]=ডকুমেন্ট উপস্থাপন খোলক
Comment[be_BY]=Прэзентацыя OpenDocument
Comment[bg]=OpenDocument - презентация
Comment[br]=Kinnigadenn OpenDocument
Comment[bs]=OpenDocument prezentacija
Comment[cy]=Cyflwyno OpenDocument
Comment[el]=Παρουσίαση OpenDocument
Comment[en_GB]=OpenDocument Presentation
Comment[en_ZA]=OpenDocument Presentation
Comment[eo]=OpenDocument Presentation
Comment[fa]=ارائهٔ نوشتارباز
Comment[ga]=Láithreoireacht OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ રજૂઆત
Comment[gu_IN]=ઓપનડોકયુમેન્ટ રજૂઆત
Comment[hr]=OpenDocument prezentacija
Comment[ka]=OpenDocument პრეზენტაცია
Comment[km]=ការ​បង្ហាញ OpenDocument
Comment[ku]=Pêşkêşiya OpenDocument
Comment[lt]=„OpenDocument“ pateiktis
Comment[mk]=OpenDocument-презентација
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് അവതരണം
Comment[mr_IN]=दस्तावेज प्रस्तुती उघडा
Comment[nb]=OpenDocument-presentasjon
Comment[ne]=खुल्लाकागजात प्रस्तुतीकरण
Comment[nn]=OpenDocument-presentasjon
Comment[nr]=OpenDocument iPhrizentheyitjhini
Comment[ns]=Tlhagišo ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ଉପସ୍ଥାପନା 
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਪੇਸ਼ਕਾਰੀ
Comment[rw]=Iyerekana rya OpenDocument
Comment[sh_YU]=OpenDocument prezentacija
Comment[sr_CS]=OpenDocument презентација
Comment[ss]=OpenDocument Kwetfula
Comment[st]=Nehelano ya OpenDocument
Comment[sw_TZ]=OpenDocument Presentation
Comment[ta]=திறந்த ஆவண காட்சி
Comment[ta_IN]=திறந்த ஆவண காட்சி
Comment[te_IN]=పత్ర సమర్పణను తెరుచుము 
Comment[tg]=Баёнияи OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ Presentation
Comment[ts]=OpenDocument ya Nkombiso
Comment[uk]=Презентація OpenDocument
Comment[ur_IN]=دستاویزپیشکش کھولو
Comment[ve]=Nzudzanyo ya OpenDocument
Comment[vi]=Trình diễn OpenDocument
Comment[xh]=Inkcazelo-mboniso ye-OpenDocument
Comment[zu]=Umboniso We-OpenDocument
