[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-presentation-template
Type=MimeType
Patterns=*.sti
MimeType=application/vnd.sun.xml.impress.template
Comment=OpenOffice.org Presentation Template
Comment[en]=OpenOffice.org Presentation Template
Comment[de]=OpenOffice.org Präsentationsvorlage
Comment[ca]=Plantilla de presentació de l'OpenOffice.org
Comment[cs]=Šablona prezentace OpenOffice.org
Comment[da]=OpenOffice.org-præsentationsskabelon
Comment[es]=Plantilla de presentación de OpenOffice.org
Comment[et]=OpenOffice.org-i esitluse mall
Comment[fi]=OpenOffice.org - Esitysmalli
Comment[fr]=Modèle de présentation OpenOffice.org
Comment[he]=תבנית מצגת OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org प्रस्तुति टेंपलेट
Comment[hu]=OpenOffice.org-bemutatósablon
Comment[it]=OpenOffice.org - Modello di presentazione
Comment[ja]=OpenOffice.org プレゼンテーションテンプレート
Comment[ko]=OpenOffice.org 프레젠테이션 서식 파일
Comment[nl]=OpenOffice.org-presentatiesjabloon
Comment[pl]=OpenOffice.org Szablon prezentacji
Comment[pt]=Modelo de apresentação do OpenOffice.org
Comment[pt_BR]=Modelo de apresentação do OpenOffice.org
Comment[ru]=Шаблон презентации OpenOffice.org
Comment[sk]=Šablóna prezentácie OpenOffice.org
Comment[sl]=Predloga predstavitve programa OpenOffice.org
Comment[sv]=OpenOffice.org presentationsmall
Comment[th]=แม่แบบงานนำเสนอ OpenOffice.org
Comment[tr]=OpenOffice.org Sunu Şablonu
Comment[zh_CN]=OpenOffice.org 演示文稿模板
Comment[zh_TW]=OpenOffice.org 簡報範本
Comment[af]=OpenOffice.org-aanbiedingsjabloon
Comment[as_IN]=OpenOffice.org উপস্থাপন নমুনা
Comment[be_BY]=Шаблон прэзентацыі OpenOffice.org
Comment[bg]=Шаблон за презентация на OpenOffice.org
Comment[br]=Patrom kinnigadenn OpenOffice.org
Comment[bs]=OpenOffice.org šablon prezentacije
Comment[cy]=Templed Cyflwyno OpenOffice.org
Comment[el]=Πρότυπο παρουσίσης OpenOffice.org
Comment[en_GB]=OpenOffice.org Presentation Template
Comment[en_ZA]=OpenOffice.org Presentation Template
Comment[eo]=OpenOffice.org Prezentaĵa Ŝablono
Comment[fa]=قالب ارائهٔ OpenOffice.org
Comment[ga]=Teimpléad Láithreoireachta OpenOffice.org
Comment[gu]=OpenOffice.org રજૂઆત ટેમ્પલેટ
Comment[gu_IN]=OpenOffice.org રજૂઆત ટેમ્પલેટ
Comment[hr]=Predložak OpenOffice.org prezentacije
Comment[ka]=OpenOffice.org პრეზენტაციის შაბლონი
Comment[km]=ពុម្ព​ការបង្ហាញ OpenOffice.org
Comment[ku]=Şablona Pêşkêşiyan a OpenOffice.org
Comment[lt]=„OpenOffice.org“ pateikties šablonas
Comment[mk]=OpenOffice.org-образец за презентација
Comment[ml_IN]=OpenOffice.org Presentation Template
Comment[mr_IN]=OpenOffice.org प्रस्तुती प्रारूप
Comment[nb]=OpenOffice.org-presentasjonsmal
Comment[ne]=OpenOffice.org प्रस्तुतीकरण टेम्प्लेट
Comment[nn]=OpenOffice.org-presentasjonsmal
Comment[nr]=Thempleyiti lePhrizentheyitjhini le-OpenOffice.org
Comment[ns]=OpenOffice.org Template ya Tlhagišo
Comment[or_IN]=OpenOffice.org ଉପସ୍ଥାପନା ନମୁନା
Comment[pa_IN]=OpenOffice.org ਪੇਸ਼ਕਾਰੀ ਨਮੂਨਾ
Comment[rw]=Inyandiko-rugero y'iyerekana OpenOffice.org
Comment[sh_YU]=OpenOffice.org šablon prezentacije
Comment[sr_CS]=OpenOffice.org шаблон презентације
Comment[ss]=OpenOffice.org Kwetfula kwethemplethi
Comment[st]=Thempoleiti ya Nehelano ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Templeti Wasilisho
Comment[ta]=OpenOffice.org Óý¨ÅôÒ வார்ப்புரு
Comment[ta_IN]=OpenOffice.org Óý¨ÅôÒ வார்ப்புரு
Comment[te_IN]=OpenOffice.org సమర్పణము మాదిరి
Comment[tg]=Қолаби баёнияи OpenOffice.org
Comment[ts]=OpenOffice.org Xikomba-ndlela xa Nkombiso
Comment[uk]=Шаблон презентації OpenOffice.org
Comment[ur_IN]=OpenOffice.org پیشکش
Comment[ve]=Thempuḽethe ya Nzudzanyo ya OpenOffice.org
Comment[vi]=Mẫu trình diễn OpenOffice.org
Comment[xh]=Isakhelo Senkcazelo-mboniso se-OpenOffice.org
Comment[zu]=Uqwembe Lokunikezelwa kwe-OpenOffice.org
Comment[tn]=OpenOffice.org Tlhagiso Thulaganyo
