[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-master-document
Type=MimeType
Patterns=*.sxg
MimeType=application/vnd.sun.xml.writer.global
Comment=OpenOffice.org Master Document
Comment[en]=OpenOffice.org Master Document
Comment[de]=OpenOffice.org Globaldokument
Comment[ca]=Document mestre de l'OpenOffice.org
Comment[cs]=Hlavní dokument OpenOffice.org
Comment[da]=OpenOffice.org-hoveddokument
Comment[es]=Documento maestro de OpenOffice.org
Comment[et]=OpenOffice.org-i põhidokument
Comment[fi]=OpenOffice.org - Perusasiakirja
Comment[fr]=Document maître OpenOffice.org
Comment[he]=מסמך אב OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org मास्टर दस्तावेज
Comment[hu]=OpenOffice.org-fődokumentum
Comment[it]=OpenOffice.org - Documento master
Comment[ja]=OpenOffice.org マスタードキュメント
Comment[ko]=OpenOffice.org 마스터 문서
Comment[nl]=OpenOffice.org-hoofddocument
Comment[pl]=OpenOffice.org Dokument główny
Comment[pt]=Modelo global de documentos do OpenOffice.org
Comment[pt_BR]=Documento mestre do OpenOffice.org
Comment[ru]=Составной документ OpenOffice.org
Comment[sk]=Hlavný dokument OpenOffice.org
Comment[sl]=Glavni dokument programa OpenOffice.org
Comment[sv]=OpenOffice.org samlingsdokument
Comment[th]=เอกสารเค้าโครงหลัก OpenOffice.org
Comment[tr]=OpenOffice.org Ana Belge
Comment[zh_CN]=OpenOffice.org 主控文档
Comment[zh_TW]=OpenOffice.org 主控文件
Comment[af]=OpenOffice.org-meesterdokument
Comment[as_IN]=OpenOffice.org মুখ্য ডকুমেন্ট
Comment[be_BY]=Майстар-дакумент OpenOffice.org
Comment[bg]=Главен документ на OpenOffice.org
Comment[br]=Teul mestr OpenOffice.org
Comment[bs]=OpenOffice.org glavni dokument
Comment[cy]=Prif Ddogfen OpenOffice.org
Comment[el]=Κύριο έγγραφο OpenOffice.org
Comment[en_GB]=OpenOffice.org Master Document
Comment[en_ZA]=OpenOffice.org Master Document
Comment[eo]=OpenOffice.org Master Document
Comment[fa]=نوشتار اصلی OpenOffice.org
Comment[ga]=Máistircháipéis OpenOffice.org
Comment[gu]=OpenOffice.org મુખ્ય દસ્તાવેજ
Comment[gu_IN]=OpenOffice.org મુખ્ય દસ્તાવેજ
Comment[hr]=OpenOffice.org Glavni Dokument
Comment[ka]=OpenOffice.org მთავარი დოკუმენტი
Comment[km]=ឯកសារ​មេ OpenOffice.org
Comment[ku]=Makebelgeya OpenOffice.org
Comment[lt]=„OpenOffice.org“ pagrindinis dokumentas
Comment[mk]=OpenOffice.org-главен документ
Comment[ml_IN]=OpenOffice.org Master Document
Comment[mr_IN]=OpenOffice.org प्रधान लेखपत्र
Comment[nb]=OpenOffice.org-hoveddokument
Comment[ne]=OpenOffice.org मुख्य कागजात
Comment[nn]=OpenOffice.org-hovuddokument
Comment[nr]=UmTlolo omKhulu we-OpenOffice.org
Comment[ns]=Tokumente ya Motheo ya OpenOffice.org
Comment[or_IN]=OpenOffice.org ମାଷ୍ଟର ଦଲିଲ
Comment[pa_IN]=OpenOffice.org ਮਾਸਟਰ ਦਸਤਾਵੇਜ਼
Comment[rw]=Umwandikongenga wa OpenOffice.org
Comment[sh_YU]=OpenOffice.org glavni dokument
Comment[sr_CS]=OpenOffice.org главни документ
Comment[ss]=OpenOffice.org Imasta dokhumenti
Comment[st]=Tokomane e Kgolo ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Andiko Kuu
Comment[ta]=OpenOffice.org முதன்மை ஆவணம்
Comment[ta_IN]=OpenOffice.org முதன்மை ஆவணம்
Comment[te_IN]=OpenOffice.org ముఖ్య పత్రము
Comment[tg]=Ҳуҷҷати асосии OpenOffice.org
Comment[ti_ER]=OpenOffice.org ቀዳማይ ሰነድ
Comment[ts]=OpenOffice.org Dokumente-nkulu
Comment[uk]=Головний документ OpenOffice.org
Comment[ur_IN]="OpenOffice.org   "ماسٹردستاویز 
Comment[ve]=Ḽiṅwalo Ḽihulwane ḽa OpenOffice.org
Comment[vi]=Tài liệu chủ OpenOffice.org
Comment[xh]=Uxwebhu Olungumalathindlela lwe-OpenOffice.org
Comment[zu]=Ifayela Eliyinhloko Le-OpenOffice.org
