[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-presentation
Type=MimeType
Patterns=*.sxi
MimeType=application/vnd.sun.xml.impress
Comment=OpenOffice.org Presentation
Comment[en]=OpenOffice.org Presentation
Comment[de]=OpenOffice.org Präsentation
Comment[ca]=Presentació de l'OpenOffice.org
Comment[cs]=Prezentace OpenOffice.org
Comment[da]=OpenOffice.org-præsentation
Comment[es]=Presentación de OpenOffice.org
Comment[et]=OpenOffice.org-i esitlus
Comment[fi]=OpenOffice.org - Esitys
Comment[fr]=Présentation OpenOffice.org
Comment[he]=מצגת OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org Presentation
Comment[hu]=OpenOffice.org-bemutató
Comment[it]=Presentazione di OpenOffice.org
Comment[ja]=OpenOffice.org プレゼンテーション
Comment[ko]=OpenOffice.org 프레젠테이션
Comment[nl]=OpenOffice.org-presentatie
Comment[pl]=OpenOffice.org Prezentacja
Comment[pt]=Apresentação do OpenOffice.org
Comment[pt_BR]=Apresentação do OpenOffice.org
Comment[ru]=Презентация OpenOffice.org
Comment[sk]=Prezentácia OpenOffice.org
Comment[sl]=Predstavitev programa OpenOffice.org
Comment[sv]=OpenOffice.org presentation
Comment[th]=งานนำเสนอ OpenOffice.org
Comment[tr]=OpenOffice.org Sunu
Comment[zh_CN]=OpenOffice.org 演示文稿
Comment[zh_TW]=OpenOffice.org 簡報！
Comment[af]=OpenOffice.org-voorlegging
Comment[as_IN]=OpenOffice.org উপস্থাপন
Comment[be_BY]=Прэзентацыя OpenOffice.org
Comment[bg]=Презентация на OpenOffice.org
Comment[br]=Kinnigadenn OpenOffice.org
Comment[bs]=OpenOffice.org prezentacija
Comment[cy]=Cyflwyno OpenOffice.org
Comment[el]=Παρουσίαση OpenOffice.org
Comment[en_GB]=OpenOffice.org Presentation
Comment[en_ZA]=OpenOffice.org Presentation
Comment[eo]=OpenOffice.org Presentation
Comment[fa]=ارائهٔ OpenOffice.org
Comment[ga]=Láithreoireacht OpenOffice.org
Comment[gu]=OpenOffice.org રજૂઆત
Comment[gu_IN]=OpenOffice.org રજૂઆત
Comment[hr]=OpenOffice.org Prezentacija
Comment[ka]=OpenOffice.org პრეზენტაცია
Comment[km]=ការ​បង្ហាញ OpenOffice.org
Comment[ku]=Pêşkêşiya OpenOffice.org
Comment[lt]=„OpenOffice.org“ pateiktis
Comment[mk]=OpenOffice.org-презентација
Comment[ml_IN]=OpenOffice.org Presentation
Comment[mr_IN]=OpenOffice.org प्रस्तुती
Comment[nb]=OpenOffice.org-presentasjon
Comment[ne]=OpenOffice.org प्रस्तुतीकरण
Comment[nn]=OpenOffice.org-presentasjon
Comment[nr]=Phrizentheyitjhini le-OpenOffice.org
Comment[ns]=Tlhagišo ya OpenOffice.org
Comment[or_IN]=OpenOffice.org ଉପସ୍ଥାପନା
Comment[pa_IN]=OpenOffice.org ਪੇਸ਼ਕਾਰੀ
Comment[rw]=Iyerekana rya OpenOffice.org
Comment[sh_YU]=OpenOffice.org prezentacija
Comment[sr_CS]=OpenOffice.org презентација
Comment[ss]=OpenOffice.org Kwetfula
Comment[st]=Nehelano ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Wasilisho
Comment[ta]=OpenOffice.org காட்சி
Comment[ta_IN]=OpenOffice.org காட்சி
Comment[te_IN]=OpenOffice.org సమర్పణము
Comment[tg]=Расми OpenOffice.org
Comment[ts]=OpenOffice.org Nkombiso
Comment[uk]=Презентація OpenOffice.org
Comment[ur_IN]=OpenOffice.org پیشکش
Comment[ve]=Nzudzanyo ya OpenOffice.org
Comment[vi]=Trình diễn OpenOffice.org
Comment[xh]=Inkcazelo-mboniso ye-OpenOffice.org
Comment[zu]=Umboniso We-OpenOffice.org
