[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-web-template
Type=MimeType
Patterns=*.oth
MimeType=application/vnd.oasis.opendocument.text-web
Comment=HTML Document Template
Comment[en]=HTML Document Template
Comment[de]=HTML-Dokumentvorlage
Comment[ca]=Plantilla de document HTML
Comment[cs]=Šablona HTML dokumentu
Comment[da]=HTML-dokumentskabelon
Comment[es]=Plantilla de documento HTML
Comment[et]=HTML-dokumendi mall
Comment[fi]=HTML-asiakirjamalli
Comment[fr]=Modèle de document HTML
Comment[he]=תבנית מסמך HTML‏
Comment[hi_IN]=HTML दस्तावेज टेंपलेट
Comment[hu]=HTML-dokumentumsablon
Comment[it]=Modello di documento HTML
Comment[ja]=HTML ドキュメントのテンプレート
Comment[ko]=HTML 문서 서식 파일
Comment[nl]=HTML-documentsjabloon
Comment[pl]=Szablon dokumenty HTML
Comment[pt]=Modelo de documento HTML
Comment[pt_BR]=Modelo de documento HTML
Comment[ru]=Шаблон HTML-документа
Comment[sk]=Šablóna HTML dokumentu
Comment[sl]=Predloga dokumenta HTML
Comment[sv]=HTML dokumentmall
Comment[th]=แม่แบบเอกสาร HTML
Comment[tr]=HTML Belgesi Şablonu
Comment[zh_CN]=HTML 文档模板
Comment[zh_TW]=HTML 文件範本
Comment[af]=HTML-dokumentsjabloon
Comment[as_IN]=HTML ডকুমেন্ট নমুনা
Comment[be_BY]=Шаблон дакументу HTML
Comment[bg]=Шаблон за документ на HTML
Comment[br]=Patrom teul HTML
Comment[bs]=HTML dokument šablon
Comment[cy]=Templed Dogfen HTML
Comment[el]=Πρότυπο εγγράφου HTML 
Comment[en_GB]=HTML Document Template
Comment[en_ZA]=HTML Document Template
Comment[eo]=HTML Document Template
Comment[fa]=قالب نوشتار HTML
Comment[ga]=Teimpléad HTML
Comment[gu]=HTML દસ્તાવેજ ટેમ્પલેટ
Comment[gu_IN]=HTML દસ્તાવેજ ટેમ્પલેટ
Comment[hr]=Predložak HTML dokumenta
Comment[ka]=HTML დოკუმენტის შაბლონი
Comment[km]=ពុម្ព​ឯកសារ​ HTML
Comment[ku]=Şablona Pelgeya HTML
Comment[lt]=HTML šablonas
Comment[mk]=Образец за HTML-документ
Comment[ml_IN]=HTML ഡോക്കുമെന്റ് മാതൃക
Comment[mr_IN]=HTML दस्तावेज प्रारूप
Comment[nb]=HTML-dokumentmal
Comment[ne]=HTML कागजात टेम्प्लेट
Comment[nn]=HTML-dokumentmal
Comment[nr]=Ithempleyiti lomTlolo we-HTML
Comment[ns]=Thempoleiti ya Tokumente ya HTML
Comment[or_IN]=HTML ଦଲିଲ ନମୁନା
Comment[pa_IN]=HTML ਦਸਤਾਵੇਜ਼ ਖਾਕਾ
Comment[rw]=Inyandiko-rugero y'Inyandiko HTML
Comment[sh_YU]=Šablon HTML dokumenta
Comment[sr_CS]=Шаблон HTML документа
Comment[ss]=HTML Idokhumenti ithemplethi
Comment[st]=Thempoleiti ya Tokomane ya HTML
Comment[sw_TZ]=HTML Document Template
Comment[ta]=HTML ஆவண மாதிரிஉரு
Comment[ta_IN]=HTML ஆவண மாதிரிஉரு
Comment[te_IN]=హెచ్   టి ఎమ్ ఎల్  పత్రము మాదిరి
Comment[tg]=Қолаби ҳуҷҷати HTML
Comment[ti_ER]=ናይ ሰነድ HTML Template
Comment[ts]=Xikomba-ndlela xa Dokumente ya HTML
Comment[uk]=Шаблон документа HTML
Comment[ur_IN]=دستاويزٹیمپلیٹHTML 
Comment[ve]=Thempuḽethe ya Ḽiṅwalo ḽa HTML
Comment[vi]=Mẫu tài liệu HTML
Comment[xh]=Isakhelo Soxwebhu se-HTML
Comment[zu]=Ithempleythi Yefayela Le-HTML
