[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-database
Type=MimeType
Patterns=*.odb
MimeType=application/vnd.sun.xml.base
Comment=OpenDocument Database
Comment[en]=OpenDocument Database
Comment[de]=OpenDocument Datenbank
Comment[ca]=Base de dades de l'OpenDocument
Comment[cs]=Databáze OpenDocument
Comment[da]=OpenDocument-database
Comment[es]=Base de datos de OpenDocument
Comment[et]=OpenDocument andmebaas
Comment[fi]=OpenDocument -tietokanta
Comment[fr]=Base de données OpenDocument
Comment[he]=מסד נתונים OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज डाटाबेस
Comment[hu]=OpenDocument-adatbázis
Comment[it]=OpenDocument - Database
Comment[ja]=OpenDocument データベース
Comment[ko]=OpenDocument 데이터베이스
Comment[nl]=OpenDocument-database
Comment[pl]=OpenDocument Baza danych
Comment[pt]=Base de dados do OpenDocument
Comment[pt_BR]=Banco de dados do OpenDocument
Comment[ru]=База данных OpenDocument
Comment[sk]=OpenDocument Databáza
Comment[sl]=Zbirka podatkov OpenDocument
Comment[sv]=OpenDocument-databas
Comment[th]=ฐานข้อมูล OpenDocument
Comment[tr]=OpenDocument Veritabanı
Comment[zh_CN]=OpenDocument 数据库
Comment[zh_TW]=Open Office 資料庫
Comment[af]=OpenDocument-databasis
Comment[as_IN]=ডকুমেন্ট ডাটাবেছ খোলক
Comment[be_BY]=База дадзеных OpenDocument
Comment[bg]=OpenDocument - база от данни
Comment[br]=Stlennvon OpenDocument
Comment[bs]=OpenDocument baza podataka
Comment[cy]=Cronfa Ddata OpenDocument
Comment[el]=Βαση δεδομένων OpenDocument
Comment[en_GB]=OpenDocument Database
Comment[en_ZA]=OpenDocument Database
Comment[eo]=OpenDocument Database
Comment[fa]=پایگاه‌دادهٔ نوشتارباز
Comment[ga]=Bunachar Sonraí OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ ડેટાબેઝ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ ડેટાબેઝ
Comment[hr]=OpenDocument baza podataka
Comment[ka]=OpenDocument  მონაცემთა ბაზა
Comment[km]=មូលដ្ឋាន​ទិន្នន័យ OpenDocument
Comment[ku]=Danegeha OpenDocument
Comment[lt]=„OpenDocument“ duomenų bazė
Comment[mk]=OpenDocument-база на податоци
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് ഡേറ്റാബേസ് 
Comment[mr_IN]=माहितीकोष दस्तावेज उघडा
Comment[nb]=OpenDocument-database
Comment[ne]=खुल्लाकागजात डाटाबेस
Comment[nn]=OpenDocument-database
Comment[nr]=OpenDocument iBulungelo
Comment[ns]=Datapeisi ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ତଥ୍ଯସଞ୍ଚଯ 
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਡਾਟਾਬੇਸ
Comment[rw]=Ububikoshingiro bwa OpenDocument
Comment[sh_YU]=OpenDocument baza podataka
Comment[sr_CS]=OpenDocument база података
Comment[ss]=OpenDocument Idathabhesi
Comment[st]=Datapeisi ya OpenDocument
Comment[sw_TZ]=OpenDocument Database
Comment[ta]=திறந்த ஆவண தரவுத்தளம்
Comment[ta_IN]=திறந்த ஆவண தரவுத்தளம்
Comment[te_IN]=పత్రము యొక్క  దత్తాంశస్థాను తెరుచుము
Comment[tg]=Махзани далелҳои OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ መኽዘን ሓበሬታ
Comment[ts]=OpenDocument ya Xihlayisela-rungula
Comment[uk]=База даний OpenDocument
Comment[ur_IN]=دستاویزڈاٹابیس کھولو
Comment[ve]=Database ya OpenDocument
Comment[vi]=CSDL OpenDocument
Comment[xh]=Isiseko Seenkcukacha ze-OpenDocument
Comment[zu]=Idatabheysi Ye-OpenDocument
