[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-text
Type=MimeType
Patterns=*.sxw
MimeType=application/vnd.sun.xml.writer
Comment=OpenOffice.org Text Document
Comment[en]=OpenOffice.org Text Document
Comment[de]=OpenOffice.org Textdokument
Comment[ca]=Document de text de l'OpenOffice.org
Comment[cs]=Textový dokument OpenOffice.org
Comment[da]=OpenOffice.org-tekstdokument
Comment[es]=Documento de texto de OpenOffice.org
Comment[et]=OpenOffice.org-i tekstidokument
Comment[fi]=OpenOffice.org - Tekstiasiakirja
Comment[fr]=Texte OpenOffice.org
Comment[he]=מסמך כיתוב OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org Text Document
Comment[hu]=OpenOffice.org-szövegesdokumentum
Comment[it]=OpenOffice.org - Documento di testo
Comment[ja]=OpenOffice.org 文書ドキュメント
Comment[ko]=OpenOffice.org 텍스트 문서
Comment[nl]=OpenOffice.org-tekstdocument
Comment[pl]=OpenOffice.org Dokument tekstowy
Comment[pt]=Documento de texto do OpenOffice.org
Comment[pt_BR]=Documento de texto do OpenOffice.org
Comment[ru]=OpenOffice.org Текстовый документ
Comment[sk]=Textový dokument OpenOffice.org
Comment[sl]=Dokument z besedilom programa OpenOffice.org
Comment[sv]=OpenOffice.org textdokument
Comment[th]=เอกสารข้อความ OpenOffice.org
Comment[tr]=PRODUCTNAME Metin belgesi
Comment[zh_CN]=OpenOffice.org 文本文档
Comment[zh_TW]=OpenOffice.org 文字文件
Comment[af]=OpenOffice.org-teksdokument
Comment[as_IN]=OpenOffice.org %PRODUCTVERSION টেক্সট ডকুমেন্ট
Comment[be_BY]=Тэкставы дакумент OpenOffice.org
Comment[bg]=Текстов документ на OpenOffice.org
Comment[br]=Testenn OpenOffice.org
Comment[bs]=OpenOffice.org tekst dokument
Comment[cy]=Dogfen Testun OpenOffice.org
Comment[el]=Κείμενο εγγράφου OpenOffice.org
Comment[en_GB]=OpenOffice.org Text Document
Comment[en_ZA]=OpenOffice.org Text Document
Comment[eo]=OpenOffice.org Teksta Dokumento
Comment[fa]=نوشتار متنی OpenOffice.org
Comment[ga]=Cáipéis Téacs OpenOffice.org
Comment[gu]=OpenOffice.org લખાણ દસ્તાવેજ
Comment[gu_IN]=OpenOffice.org લખાણ દસ્તાવેજ
Comment[hr]=OpenOffice.org tekst dokument
Comment[ka]=OpenOffice.org ტექსტური დოკუმენტი
Comment[km]=ឯកសារ​អត្ថបទ OpenOffice.org
Comment[ku]=Pelgeya nivîsê ya OpenOffice.org
Comment[lt]=„OpenOffice.org“ teksto dokumentas
Comment[mk]=OpenOffice.org-текстуален документ
Comment[ml_IN]=OpenOffice.org Text Document
Comment[mr_IN]=OpenOffice.org मजकूर दस्तऐवज
Comment[nb]=OpenOffice.org-tekstdokument
Comment[ne]=OpenOffice.org पाठ कागजात
Comment[nn]=OpenOffice.org-tekstdokument
Comment[nr]=ITheksti yomTlolo le-OpenOffice.org
Comment[ns]=Tokumente ya Sengwalwa ya OpenOffice.org
Comment[or_IN]=OpenOffice.org ଟେକ୍ସଟ  ଦଲିଲ
Comment[pa_IN]=OpenOffice.org ਪਾਠ ਦਸਤਾਵੇਜ਼
Comment[rw]=Inyandiko mwandiko OpenOffice.org
Comment[sh_YU]=OpenOffice.org tekstualni dokument
Comment[sr_CS]=OpenOffice.org текстуални документ
Comment[ss]=OpenOffice.org Idokhumenti yembhalo
Comment[st]=Tokomane ya Mongolo ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Andiko Matini
Comment[ta]=OpenOffice.org உரை ஆவணம்
Comment[ta_IN]=OpenOffice.org உரை ஆவணம்
Comment[te_IN]=OpenOffice.org పత్ర పాఠము
Comment[tg]=Ҳуҷҷати матнии OpenOffice.org 
Comment[ti_ER]=OpenOffice.org ናይ ጽሑፍ ሰነድ
Comment[ts]=OpenOffice.org Dokumente ya Marito
Comment[uk]=Текстовий документ OpenOffice.org 
Comment[ur_IN]="OpenOffice.org  "متن دستاویز 
Comment[ve]=Ḽiṅwalwa ḽa Ḽiṅwalo ḽa OpenOffice.org
Comment[vi]=Tài liệu văn bản OpenOffice.org
Comment[xh]=Uxwebhu Lwesiqendu se-OpenOffice.org
Comment[zu]=Ifayela Lombhalo We-OpenOffice.org
