[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-text
Type=MimeType
Patterns=*.odt
MimeType=application/vnd.oasis.opendocument.text
Comment=OpenDocument Text
Comment[en]=OpenDocument Text
Comment[de]=OpenDocument Text
Comment[ca]=Text de l'OpenDocument
Comment[cs]=Textový dokument OpenDocument
Comment[da]=OpenDocument-tekst
Comment[es]=Texto de OpenDocument
Comment[et]=OpenDocument tekst
Comment[fi]=OpenDocument -teksti
Comment[fr]=Texte OpenDocument
Comment[he]=טקסט OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज पाठ
Comment[hu]=OpenDocument-szöveg
Comment[it]=OpenDocument - Testo
Comment[ja]=OpenDocument テキスト
Comment[ko]=OpenDocument 텍스트
Comment[nl]=OpenDocument Tekst
Comment[pl]=OpenDocument Dokument tekstowy
Comment[pt]=Texto do OpenDocument
Comment[pt_BR]=Texto do OpenDocument
Comment[ru]=Текстовый документ OpenDocument
Comment[sk]=OpenDocument Text
Comment[sl]=Dokument z besedilom OpenDocument
Comment[sv]=OpenDocument-text
Comment[th]=เอกสารข้อความ OpenDocument
Comment[tr]=OpenDocument Metin
Comment[zh_CN]=OpenDocument 文本
Comment[zh_TW]=Open Office 文字
Comment[af]=OpenDocument-teks
Comment[as_IN]=ডকুমেন্ট টেক্সট খোলক
Comment[be_BY]=Тэкст OpenDocument
Comment[bg]=OpenDocument - текст
Comment[br]=Testenn OpenOffice
Comment[bs]=OpenDocument tekst
Comment[cy]=Testun OpenDocument
Comment[el]=Κείμενο OpenDocument
Comment[en_GB]=OpenDocument Text
Comment[en_ZA]=OpenDocument Text
Comment[eo]=OpenDocument Text
Comment[fa]=متن نوشتارباز
Comment[ga]=Téacs OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ લખાણ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ લખાણ
Comment[hr]=OpenDocument tekst
Comment[ka]=ღია დი
Comment[km]=អត្ថបទ OpenDocument
Comment[ku]=Nivîsa OpenDocument
Comment[lt]=„OpenDocument“ teksto dokumentas
Comment[mk]=OpenDocument-текст
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ് ടെക്സ്റ്റ്
Comment[mr_IN]=मजकूर दस्तावेज उघडा
Comment[nb]=OpenDocument-tekst
Comment[ne]=खुल्लाकागजात पाठ
Comment[nn]=OpenDocument-tekst
Comment[nr]=OpenDocument iTheksti
Comment[ns]=Sengwalwa sa OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ଟେକ୍ସଟ
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਪਾਠ
Comment[rw]=Umwandiko wa OpenDocument
Comment[sh_YU]=OpenDocument tekst
Comment[sr_CS]=OpenDocument текст
Comment[ss]=OpenDocument Umbhalo
Comment[st]=Mongolo wa OpenDocument
Comment[sw_TZ]=OpenDocument Text
Comment[ta]=திறந்த ஆவண உரை
Comment[ta_IN]=திறந்த ஆவண உரை
Comment[te_IN]=పత్ర పాఠమును తెరుచు
Comment[tg]=Матни OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ ጽሑፍ
Comment[ts]=OpenDocument ya Marito
Comment[uk]=Текст OpenDocument
Comment[ur_IN]=دستاویزی متن کھولو
Comment[ve]=Ḽiṅwalwa ḽa OpenDocument
Comment[vi]=Văn bản OpenDocument
Comment[xh]=Isiqendu se-OpenDocument
Comment[zu]=Umbhalo We-OpenDocument
