[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-spreadsheet-template
Type=MimeType
Patterns=*.stc
MimeType=application/vnd.sun.xml.calc.template
Comment=OpenOffice.org Spreadsheet Template
Comment[en]=OpenOffice.org Spreadsheet Template
Comment[de]=OpenOffice.org Tabellenvorlage
Comment[ca]=Plantilla de full de càlcul de l'OpenOffice.org
Comment[cs]=Šablona sešitu OpenOffice.org
Comment[da]=OpenOffice.org-regnearksskabelon
Comment[es]=Plantilla de hoja de cálculo de OpenOffice.org
Comment[et]=OpenOffice.org-i arvutustabeli mall
Comment[fi]=OpenOffice.org - Laskentataulukkomalli
Comment[fr]=Modèle de classeur OpenOffice.org
Comment[he]=תבנית גליון עבודה OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org स्प्रेडशीट टेंपलेट
Comment[hu]=OpenOffice.org-munkafüzetsablon
Comment[it]=OpenOffice.org - Modello di foglio elettronico
Comment[ja]=OpenOffice.org 表計算ドキュメントテンプレート
Comment[ko]=OpenOffice.org 스프레드시트 서식 파일
Comment[nl]=OpenOffice.org Spreadsheet Template
Comment[pl]=OpenOffice.org Szablon arkusza kalkulacyjnego
Comment[pt]=Modelo de folha de cálculo do OpenOffice.org
Comment[pt_BR]=Modelo de planilha do OpenOffice.org
Comment[ru]=Шаблон электронной таблицы OpenOffice.org
Comment[sk]=Šablóna tabuľky OpenOffice.org
Comment[sl]=Predloga preglednice programa OpenOffice.org
Comment[sv]=OpenOffice.org tabelldokumentmall
Comment[th]=แม่แบบตารางคำนวณ OpenOffice.org
Comment[tr]=OpenOffice.org Hesap Tablosu Şablonu
Comment[zh_CN]=OpenOffice.org 电子表格模板
Comment[zh_TW]=OpenOffice.org 工作表範本
Comment[af]=OpenOffice.org-sigbladsjabloon
Comment[as_IN]=OpenOffice.org স্প্ৰেডশ্বীটৰ নমুনা 
Comment[be_BY]=Шаблон разліковага аркушу OpenOffice.org
Comment[bg]=Шаблон за електронна таблица на OpenOffice.org
Comment[br]=Patrom renkell OpenOffice.org
Comment[bs]=OpenOffice.org šablon tabličnog proračuna
Comment[cy]=Templed Taenlen OpenOffice.org
Comment[el]=Πρότυπο λογιστικού φύλλου OpenOffice.org
Comment[en_GB]=OpenOffice.org Spreadsheet Template
Comment[en_ZA]=OpenOffice.org Spreadsheet Template
Comment[eo]=OpenOffice.org Kalkultabela Ŝablono
Comment[fa]=قالب صفحه‌گستردهٔ OpenOffice.org
Comment[ga]=Teimpléad Scarbhileoige OpenOffice.org
Comment[gu]=OpenOffice.org સ્પ્રેડશીટ ટેમ્પલેટ
Comment[gu_IN]=OpenOffice.org સ્પ્રેડશીટ ટેમ્પલેટ
Comment[hr]=Predložak OpenOffice.org proračunske tablice
Comment[ka]=OpenOffice.org ცხრილის შაბლონი
Comment[km]=ពុម្ព​សៀវភៅ​បញ្ជី OpenOffice.org
Comment[ku]=Şablona Tabloya Hesêb a OpenOffice.org
Comment[lt]=„OpenOffice.org“ skaičiuoklės šablonas
Comment[mk]=OpenOffice.org-образец за табеларна пресметка
Comment[ml_IN]=OpenOffice.org Spreadsheet Template
Comment[mr_IN]=OpenOffice.org स्प्रेडशीट् प्रारूप
Comment[nb]=OpenOffice.org-regnearkmal
Comment[ne]=OpenOffice.org स्प्रेडसिट टेम्प्लेट
Comment[nn]=OpenOffice.org-reknearkmal
Comment[nr]=IThempleyiti leSpredtjhiti le-OpenOffice.org
Comment[ns]=OpenOffice.org Template ya Pampiri ya go Anega
Comment[or_IN]=OpenOffice.org ସ୍ପ୍ରେଡ୍ସିଟ୍ ନମୁନା
Comment[pa_IN]=OpenOffice.org ਸਾਰਣੀਕਾਰ ਨਮੂਨਾ
Comment[rw]=Inyandiko-rugero y'UrupapuroRusesuye OpenOffice.org
Comment[sh_YU]=OpenOffice.org šablon tabele
Comment[sr_CS]=OpenOffice.org шаблон табеле
Comment[ss]=OpenOffice.org Liphephacansi lethemplethi
Comment[st]=Thempoleiti ya Leqephe la ho ala boitsebiso ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Spreadsheet Template
Comment[ta]=OpenOffice.org விரிபட்டியல் மாதிரிஉரு
Comment[ta_IN]=OpenOffice.org விரிபட்டியல் மாதிரிஉரு
Comment[te_IN]=OpenOffice.org స్ర్పెడ్ షీట్ మాదిరి
Comment[tg]=Қолаби ҷадвали электронии OpenOffice.org
Comment[ts]=OpenOffice.org Xikomba-ndlela xa Xipredxiti
Comment[uk]=Шаблон таблиці OpenOffice.org
Comment[ur_IN]=OpenOffice.org اسپریڈشیٹ ٹیمپلیٹ
Comment[ve]=Thempuḽethe ya Sipuredeshithi ḽa OpenOffice.org
Comment[vi]=Mẫu bảng tính OpenOffice.org
Comment[xh]=Isakhelo Secwecwe Leeseli se-OpenOffice.org
Comment[zu]=OpenOffice.org uqwembe lekhasi lokubala
Comment[tn]=OpenOffice.org Spreadsheet Thuaganyo
