[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-oasis-master-document
Type=MimeType
Patterns=*.odm
MimeType=application/vnd.oasis.opendocument.text-master
Comment=OpenDocument Master Document
Comment[en]=OpenDocument Master Document
Comment[de]=OpenDocument Globaldokument
Comment[ca]=Document mestre de l'OpenDocument
Comment[cs]=Hlavní dokument OpenDocument
Comment[da]=OpenDocument-hoveddokument
Comment[es]=Documento maestro de OpenDocument
Comment[et]=OpenDocument põhidokument
Comment[fi]=OpenDocument -perusasiakirja
Comment[fr]=Document maître OpenDocument
Comment[he]=מסמך אב OpenDocument‏
Comment[hi_IN]=खुलादस्तावेज मास्टर दस्तावेज
Comment[hu]=OpenDocument-fődokumentum
Comment[it]=OpenDocument - Documento master
Comment[ja]=OpenDocument マスタードキュメント
Comment[ko]=OpenDocument 마스터 문서
Comment[nl]=OpenDocument-hoofddocument
Comment[pl]=OpenDocument Dokument główny
Comment[pt]=Modelo global de documentos do OpenDocument
Comment[pt_BR]=Documento mestre do OpenDocument
Comment[ru]=Составной документ OpenDocument
Comment[sk]=OpenDocument Hlavný dokument
Comment[sl]=Glavni dokument OpenDocument
Comment[sv]=OpenDocument samlingsdokument
Comment[th]=เอกสารเค้าโครงหลัก OpenDocument
Comment[tr]=OpenDocument Ana Belge
Comment[zh_CN]=OpenDocument 主控文档
Comment[zh_TW]=Open Office 主控文件
Comment[af]=OpenDocument-meesterdokument
Comment[as_IN]=মুখ্য ডকুমেন্ট খোলক
Comment[be_BY]=Майстар-дакумент OpenDocument
Comment[bg]=OpenDocument - главен документ
Comment[br]=Teul mestr OpenDocument
Comment[bs]=OpenDocument glavni dokument
Comment[cy]=Prif Ddogfen OpenDocument
Comment[el]=Κύριο έγγραφο OpenDocument
Comment[en_GB]=OpenDocument Master Document
Comment[en_ZA]=OpenDocument Master Document
Comment[eo]=OpenDocument Master Document
Comment[fa]=نوشتار اصلی نوشتارباز
Comment[ga]=Máistircháipéis OpenDocument
Comment[gu]=ઓપનડોકયુમેન્ટ મુખ્ય દસ્તાવેજ
Comment[gu_IN]=ઓપનડોકયુમેન્ટ મુખ્ય દસ્તાવેજ
Comment[hr]=OpenDocument glavni dokument
Comment[ka]=OpenDocument მთავარი დოკუმენტი
Comment[km]=ឯកសារ​មេ OpenDocument
Comment[ku]=Makepelgeya OpenDocument
Comment[lt]=„OpenDocument“ pagrindinis dokumentas
Comment[mk]=OpenDocument-главен документ
Comment[ml_IN]=ഓപ്പണ് ഡോക്കുമെന്റ്  മുഖ്യഡോക്കുമെന്റ്
Comment[mr_IN]=प्रधान दस्तावेज उघडा
Comment[nb]=OpenDocument-hoveddokument
Comment[ne]=खुल्लाकागजात मुख्य कागजात
Comment[nn]=OpenDocument-hovuddokument
Comment[nr]=OpenDocument umTlolo omKhulu
Comment[ns]=Tokumente ya Motheo ya OpenDocument
Comment[or_IN]=ଖୋଲାଦଲିଲ ମାଷ୍ଟର  ଦଲିଲ
Comment[pa_IN]=ਓਪਨ ਆਫਿਸ ਮਾਸਟਰ ਦਸਤਾਵੇਜ਼
Comment[rw]=Inyandiko ngenga ya OpenDocument
Comment[sh_YU]=OpenDocument glavni dokument
Comment[sr_CS]=OpenDocument главни документ
Comment[ss]=OpenDocument Imasta yedokhumenti
Comment[st]=Tokomane e Kgolo ya OpenDocument
Comment[sw_TZ]=OpenDocument Master Document
Comment[ta]=திறந்த ஆவண முதன்மை ஆவணம்
Comment[ta_IN]=திறந்த ஆவண முதன்மை ஆவணம்
Comment[te_IN]=పత్రము యొక్క ముఖ్య పత్రమును తెరుచు
Comment[tg]=Ҳуҷҷати асосии OpenDocument
Comment[ti_ER]=ክፉት-ሰነድ ቀንዲ ሰነድ
Comment[ts]=OpenDocument ya Dokumente-nkulu
Comment[uk]=Мастер документів OpenDocument
Comment[ur_IN]=دستاویزی ماسٹردستاویز  کھولو
Comment[ve]=Ḽiṅwalo Ḽihulwane ḽa OpenDocument
Comment[vi]=Tài liệu chủ OpenDocument
Comment[xh]=Uxwebhu Olungumalathindlela lwe-OpenDocument
Comment[zu]=Ifayela Eliyinhloko Le-OpenDocument
