[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-spreadsheet
Type=MimeType
Patterns=*.sxc
MimeType=application/vnd.sun.xml.calc
Comment=OpenOffice.org Spreadsheet
Comment[en]=OpenOffice.org Spreadsheet
Comment[de]=OpenOffice.org Tabelle
Comment[ca]=Full de càlcul de l'OpenOffice.org
Comment[cs]=Sešit OpenOffice.org
Comment[da]=OpenOffice.org-regneark
Comment[es]=Hoja de cálculo de OpenOffice.org
Comment[et]=OpenOffice.org-i arvutustabel
Comment[fi]=OpenOffice.org - Laskentataulukko
Comment[fr]=Classeur OpenOffice.org
Comment[he]=גליון עבודה OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org Spreadsheet
Comment[hu]=OpenOffice.org-munkafüzet
Comment[it]=Foglio elettronico di OpenOffice.org
Comment[ja]=OpenOffice.org 表計算ドキュメント
Comment[ko]=OpenOffice.org 스프레드시트
Comment[nl]=OpenOffice.org-werkblad
Comment[pl]=OpenOffice.org Arkusz kalkulacyjny
Comment[pt]=Folha de cálculo do OpenOffice.org
Comment[pt_BR]=Planilha do OpenOffice.org
Comment[ru]=Электронная таблица OpenOffice.org
Comment[sk]=Zošit OpenOffice.org
Comment[sl]=Preglednica programa OpenOffice.org
Comment[sv]=OpenOffice.org-tabell
Comment[th]=ตารางคำนวณ OpenOffice.org
Comment[tr]=OpenOffice.org Hesap Tablosu
Comment[zh_CN]=OpenOffice.org 电子表格
Comment[zh_TW]=OpenOffice.org 工作表！
Comment[af]=OpenOffice.org-sigblad
Comment[as_IN]=OpenOffice.org স্প্ৰেডশ্বীট 
Comment[be_BY]=Разліковы аркуш OpenOffice.org
Comment[bg]=Електронна таблица на OpenOffice.org
Comment[br]=Renkell OpenOffice.org
Comment[bs]=OpenOffice.org tablični proračun
Comment[cy]=Taenlen OpenOffice.org
Comment[el]=Λογιστικό φύλλο OpenOffice.org
Comment[en_GB]=OpenOffice.org Spreadsheet
Comment[en_ZA]=OpenOffice.org Spreadsheet
Comment[eo]=OpenOffice.org Spreadsheet
Comment[fa]=صفحه‌گستردهٔ OpenOffice.org
Comment[ga]=Scarbhileog OpenOffice.org
Comment[gu]=OpenOffice.org સ્પ્રેડશીટ
Comment[gu_IN]=OpenOffice.org સ્પ્રેડશીટ
Comment[hr]=OpenOffice.org Računska tablica
Comment[ka]=OpenOffice.org ცხრილი
Comment[km]=សៀវភៅ​បញ្ជី OpenOffice.org
Comment[ku]=Tabloya Hesêb a OpenOffice.org
Comment[lt]=„OpenOffice.org“ skaičiuoklės dokumentas
Comment[mk]=OpenOffice.org-табеларна пресметка
Comment[ml_IN]=OpenOffice.org Spreadsheet
Comment[mr_IN]=OpenOffice.org स्प्रेडशीट्
Comment[nb]=OpenOffice.org-regneark
Comment[ne]=OpenOffice.org स्प्रेडसिट
Comment[nn]=OpenOffice.org-rekneark
Comment[nr]=ISpredtjhiti se-OpenOffice.org
Comment[ns]=Letlakala la go ala tsebišo la OpenOffice.org
Comment[or_IN]=OpenOffice.org ସ୍ପ୍ରେଡ୍ସିଟ୍
Comment[pa_IN]=OpenOffice.org ਸਾਰਣੀਕਾਰ
Comment[rw]=Urupapurotuzu rwa OpenOffice.org
Comment[sh_YU]=OpenOffice.org tabela
Comment[sr_CS]=OpenOffice.org табела
Comment[ss]=OpenOffice.org Liphephacansi
Comment[st]=Leqephe la ho ala boitsebiso la OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Lahajedwali
Comment[ta]=OpenOffice.org விரிதாள்
Comment[ta_IN]=OpenOffice.org விரிதாள்
Comment[te_IN]=OpenOffice.org స్ర్పెడ్ షీట్
Comment[tg]=Формулаи OpenOffice.org
Comment[ts]=OpenOffice.org Xipredxiti
Comment[uk]=Табличний документ OpenOffice.org
Comment[ur_IN]=OpenOffice.org اسپریڈشیٹ
Comment[ve]=Sipuredeshithi tsha OpenOffice.org
Comment[vi]=Bảng tính OpenOffice.org
Comment[xh]=Icwecwe Leeseli le-OpenOffice.org
Comment[zu]=Ispredshithi Se-OpenOffice.org
