[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=openofficeorg-21-text-template
Type=MimeType
Patterns=*.stw
MimeType=application/vnd.sun.xml.writer.template
Comment=OpenOffice.org Text Document Template
Comment[en]=OpenOffice.org Text Document Template
Comment[de]=OpenOffice.org Textdokumentvorlage
Comment[ca]=Plantilla de document de text de l'OpenOffice.org
Comment[cs]=Šablona textového dokumentu OpenOffice.org
Comment[da]=OpenOffice.org-tekstdokumentskabelon
Comment[es]=Plantilla de documento de texto de OpenOffice.org
Comment[et]=OpenOffice.org-i tekstidokumendi mall
Comment[fi]=OpenOffice.org - Tekstiasiakirjamalli
Comment[fr]=Modèles de texte OpenOffice.org
Comment[he]=תבנית מסמך כיתוב OpenOffice.org‏
Comment[hi_IN]=OpenOffice.org पाठ दस्तावेज टेंपलेट
Comment[hu]=OpenOffice.org-szövegesdokumentumsablon
Comment[it]=OpenOffice.org - Modello di documento di testo
Comment[ja]=OpenOffice.org 文書ドキュメントテンプレート
Comment[ko]=OpenOffice.org 텍스트 문서 서식 파일
Comment[nl]=OpenOffice.org-tekstdocumentsjabloon
Comment[pl]=OpenOffice.org Szablon dokumentu tekstowego
Comment[pt]=Modelo de documento de texto do OpenOffice.org
Comment[pt_BR]=Modelo de documento de texto do OpenOffice.org
Comment[ru]=Шаблон текстового документа OpenOffice.org
Comment[sk]=Šablóna textového dokumentu OpenOffice.org
Comment[sl]=Predloga dokumenta z besedilom programa OpenOffice.org
Comment[sv]=OpenOffice.org textdokumentmall
Comment[th]=แม่แบบเอกสารข้อความ OpenOffice.org
Comment[tr]=OpenOffice.org Metin Belgesi Şablonu
Comment[zh_CN]=OpenOffice.org 文本文档模板
Comment[zh_TW]=OpenOffice.org 文字文件範本
Comment[af]=OpenOffice.org-teksdokumentsjabloon
Comment[as_IN]=OpenOffice.org টেক্সট ডকুমেন্ট নমুনা
Comment[be_BY]=Шаблон тэкставага дакументу OpenOffice.org
Comment[bg]=Шаблон за текстов документ на OpenOffice.org
Comment[br]=Patromoù testenn OpenOffice.org
Comment[bs]=OpenOffice.org šablon tekst dokumenta
Comment[cy]=Templed Dogfen Testun OpenOffice.org
Comment[el]=Πρότυπο εγγράφου κειμένου OpenOffice.org 
Comment[en_GB]=OpenOffice.org Text Document Template
Comment[en_ZA]=OpenOffice.org Text Document Template
Comment[eo]=OpenOffice.org Ŝablono de Teksta Dokumento
Comment[fa]=قالب نوشتار متنی OpenOffice.org
Comment[ga]=Teimpléad Téacs OpenOffice.org
Comment[gu]=OpenOffice.org લખાણ દસ્તાવેજ ટેમ્પલેટ
Comment[gu_IN]=OpenOffice.org લખાણ દસ્તાવેજ ટેમ્પલેટ
Comment[hr]=OpenOffice.org predložak tekstualnog dokumenta
Comment[ka]=OpenOffice.org ტექსტური დოკუმენტის შაბლონი
Comment[km]=ពុម្ព​ឯកសារ​អត្ថបទ OpenOffice.org
Comment[ku]=Şablona pelgeya nivîsê ya OpenOffice.org
Comment[lt]=„OpenOffice.org“ teksto šablonas
Comment[mk]=OpenOffice.org-образец за текстуален документ
Comment[ml_IN]=OpenOffice.org Text Document Template
Comment[mr_IN]=OpenOffice.org शब्द प्रपत्र नमूना
Comment[nb]=OpenOffice.org-tekstdokumentmal
Comment[ne]=OpenOffice.org पाठ कागजात टेम्प्लेट
Comment[nn]=OpenOffice.org-tekstdokumentmal
Comment[nr]=IThempleyiti leTheksti yomTlolo le-OpenOffice.org
Comment[ns]=OpenOffice.org Template ya Tokumente ya Sengwalwa
Comment[or_IN]=OpenOffice.org ଟେକ୍ସଟ  ଦଲିଲ ନମୁନା
Comment[pa_IN]=OpenOffice.org ਪਾਠ ਦਸਤਾਵੇਜ਼ ਨਮੂਨਾ
Comment[rw]=Inyandiko-rugero y'inyandiko mwandiko OpenOffice.org
Comment[sh_YU]=OpenOffice.org šablon tekstualnog dokumenta
Comment[sr_CS]=OpenOffice.org шаблон текстуалног документа
Comment[ss]=OpenOffice.org Idokhumenti yembhalo wethemplethi
Comment[st]=Thempoleiti ya Tokomane ya Mongolo ya OpenOffice.org
Comment[sw_TZ]=OpenOffice.org Text Document Template
Comment[ta]=OpenOffice.org உரை ஆவணம் மாதிரிஉரு
Comment[ta_IN]=OpenOffice.org உரை ஆவணம் மாதிரிஉரு
Comment[te_IN]=OpenOffice.org పత్ర పాఠము మాదిరి
Comment[tg]=Қолаби ҳуҷҷати матнии OpenOffice.org
Comment[ti_ER]=OpenOffice.org Template ናይ ጽሑፍ ሰነድ
Comment[ts]=OpenOffice.org Dokumente ya Marito ya Xikomba-ndlela
Comment[uk]=Шаблон текстового документу OpenOffice.org
Comment[ur_IN]= OpenOffice.org متن دستاویز
Comment[ve]=Thempuḽethe ya Ḽiṅwalwa ḽa Ḽiṅwalo ḽa OpenOffice.org
Comment[vi]=Mẫu tài liệu văn bản OpenOffice.org
Comment[xh]=Isakhelo Soxwebhu Lwesiqendu lwe-OpenOffice.org
Comment[zu]=Uqwembe loshicilelo lombhalo lwe-OpenOffice.org
Comment[tn]=OpenOffice.org Kago Setlankana Thulaganyo
